g.node.selected > rect{
    stroke-width:1px;
    stroke: "#0000FF";
}



div.gravity{
  width: 200px;
}
.cvs text {
  font: 10px Tahoma;
  font-weight: bold;
  stroke: white;
  stroke-width: 0.4px;
}
.selected text{
  fill: red;
  stroke: red;
}
.brush .extent {
  fill-opacity: .1;
  stroke: blue;
  shape-rendering: crispEdges;
}
 
.node.selected {
  stroke: red;
}

.link {
  stroke: #999;
}
