g.node.selected > rect{
    stroke-width:1px;
    stroke: rgb(106, 86, 168);
}

div.gravity{
  width: 200px;
}

.cvs text {
  font: 10px Tahoma;
  font-weight: bold;
  stroke: white;
  stroke-width: 0.4px;
}
.selected text{
  font: 12px Tahoma;
  fill: rgb(106, 86, 168);
  stroke: rgb(106, 86, 168);
}
.brush .extent {
  fill-opacity: .1;
  stroke: rgb(106, 86, 168);
  shape-rendering: crispEdges;
}
 
.node.selected {
  stroke: rgb(106, 86, 168);
}

.link {
  stroke: #999;
}
