g.node.selected > rect{
    stroke-width:1px;
    stroke: "#0000FF";
}

.cvs text {
  font: 10px sans-serif;
}

.selected text{
  color: red;
}
.brush .extent {
  fill-opacity: .1;
  stroke: blue;
  shape-rendering: crispEdges;
}

/*.node {
  stroke: green;
  stroke-width: 1.5px;
}*/

.node.selected {
  stroke: red;
}

.link {
  stroke: #999;
}

.cvs {
  overflow: scroll;
}