.ui-dialog-titlebar {
    background: #FFFFFF;
}
.form-group {
  padding: 5px;
}
g.node {
  cursor: pointer;  
}
.fg-button {
  margin-right: 0px!important;
}

.showcontext {
  width:200px;
}

.network_mode {
  width:120px;
}
.row_origin {
  /*background-color: rgb(106, 86, 168)!important;*/
  color: #9FAACC;/*#E69B9B*/
  /*display: none*/
}
.row_selected {
  background-color: rgb(106, 86, 168)!important;
  color: white;
}
#page_header {
    padding: 0px;
    margin: 0px;
}

.highlight { background-color: yellow }

.paginate_button {
  cursor: pointer;
  border: 1px solid #CCC;
  padding: 3px;
  text-decoration: none!important;
  margin: 2px;
}
.dataTables_length {
  margin: 5px;
}
.dataTables_wrapper {
  border-bottom: 1px black solid;
}
.dataTables_info {
  /*font-weight: bold;*/
  margin: 8px;
}
.dataTables_filter {
  margin: 5px;
}
.dataTables_paginate {
  margin: 8px;
}
.paginate_button:hover {
  color: #FFF!important;
  background-color: #2A6496!important;
}

.ui-widget {
   font-family: Verdana,Arial,sans-serif!important; 
   font-size: 10px!important; 
}
div.ui-dialog-titlebar {
  padding: 3px 10px!important;
}
div.visdlg {
  padding: 0!important;
  overflow: hidden!important;
}
div.note {
  padding: 0!important;
  overflow:hidden!important;
}
.cvs {
  width: 100%;
  height: 100%;
  border-top: 1px black solid;
}
div.selectbar.ui-dialog-content {
  overflow:inherit!important;
}

tr.even{
    background-color: rgb(241, 236, 255);
}

div.dataTables_scrollBody{
    max-height: 600px;
}

.question{
  background-color:rgba(255, 166, 166, 0.21);
}

ul.context-menu-list {
    font-size: 14px;
    background-color: #ffffff;
    padding: 5px 0 0;
    min-width: 160px;
    margin: 2px 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 6px;

}
li.context-menu-item {
    background-color: #ffffff;
    padding: 4px 2px 4px 20px;
}
li.context-menu-item:hover {
    color: #ffffff;
    background-color: #428bca;
}
