{% load static %}
{% load compress %}
{% block extralib %}
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/DataTables-1.10.0/media/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/DataTables-1.9.4/plugin/ColReorderWithResize.js' %}"></script>
<!--        <link rel="stylesheet" type="text/css" href="lib/DataTables-1.9.4/media/css/"> -->
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/highlight/jquery_highlight_4.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/DataTables-1.9.4/media/css/demo_table_jui.css' %}"> 

<script type="text/javascript" language="javascript" src="{% static 'dashboard/js/event_table.js' %}"></script>
{% compress css %}
{% endcompress %}
{% endblock %}
<div id="location_dlg" class="hidden">
    <div id="selectbar" class="selectbar dropdown">Generate the next linked window...
        <select class="selectpicker form-control">
            <option value="">---</option>
            <optgroup label = "other visualizations...">
                <option value="timeline_self">Timeline</option>
                <option value="map_self">Map</option>
                <option value="network_self">Network</option>
                <option value="message_self">Messages</option>
                <option value="event_self">Events</option>
                <option value="person_self">People</option>
                <option value="organization_self">Organizations</option>
                <option value="resource_self">Resources</option>
                <option value="location_self">Locations (shadow)</option>
            </optgroup>
            <optgroup label = "Filter to a subset in ...">
                <option value="location_subset">Locations</option>
            </optgroup>
        </select>
    </div>
    <div class = "interaction">
        <div class="reset">
            <a href="javascript:void(0)" onclick="reset();return false;">Reset</a>
        </div>
        <div class="showcontext">
            <a href="javascript:void(0)" onclick="showcontext();return false;">Show Context (parent view)</a>
        </div>
    </div>
    <table id="location_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Frequency</th>
            </tr>
        </thead>

    </table>
</div>
<div id = "message_dlg" class="hidden">
    <div id="selectbar" class="selectbar dropdown">Generate the next linked window...       
        <select class="selectpicker form-control">
            <option value="">---</option>
            <optgroup label = "other visualizations...">
                <option value="timeline_self">Timeline</option>
                <option value="map_self">Map</option>
                <option value="network_self">Network</option>
                <option value="message_self">Messages (shadow)</option>
                <option value="event_self">Events</option>
                <option value="person_self">People</option>
                <option value="organization_self">Organizations</option>
                <option value="resource_self">Resources</option>
                <option value="location_self">Locations</option>
            </optgroup>
            <optgroup label = "Filter to a subset in ...">
                <option value="message_subset">Messages</option>
            </optgroup>
        </select>   
    </div>
    <div class = "interaction">
        <div class="reset">
            <a href="javascript:void(0)" onclick="reset();return false;">Reset</a>
        </div>
        <div class="showcontext">
            <a href="javascript:void(0)" onclick="showcontext();return false;">Show Context (parent view)</a>
        </div>
    </div>
    <table id="message_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
        </thead>
     
    </table>
</div>
<div id="event_dlg" class="hidden">
           
   <div id="selectbar" class="selectbar dropdown">Generate the next linked window...
        <select class="selectpicker form-control">
            <option value="">---</option>
            <optgroup label = "other visualizations...">
                <option value="timeline_self">Timeline</option>
                <option value="map_self">Map</option>
                <option value="network_self">Network</option>
                <option value="message_self">Messages</option>
                <option value="event_self">Events(shadow)</option>
                <option value="person_self">People</option>
                <option value="organization_self">Organizations</option>
                <option value="resource_self">Resources</option>
                <option value="location_self">Locations</option>
            </optgroup>
            <optgroup label = "Filter to a subset in ...">
                <option value="event_subset">Event</option>
            </optgroup>
        </select>   
    </div>
    <div class = "interaction">
        <div class="reset">
            <a href="javascript:void(0)" onclick="reset();return false;">Reset</a>
        </div>
        <div class="showcontext">
            <a href="javascript:void(0)" onclick="showcontext();return false;">Show Context (parent view)</a>
        </div>
    </div>
    <table id="event_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>

    </table>
</div>
<div id="person_dlg" class="hidden">
    <div id="selectbar" class="selectbar dropdown">Generate the next linked window...
        <select class="selectpicker form-control">
            <option value="">---</option>
            <optgroup label = "other visualizations...">
                <option value="timeline_self">Timeline</option>
                <option value="map_self">Map</option>
                <option value="network_self">Network</option>
                <option value="message_self">Messages</option>
                <option value="event_self">Events</option>
                <option value="person_self">People (shadow)</option>
                <option value="organization_self">Organizations</option>
                <option value="resource_self">Resources</option>
                <option value="location_self">Locations</option>
            </optgroup>
            <optgroup label = "Filter to a subset in ...">
                <option value="person_subset">People</option>
            </optgroup>
        </select>   
    </div>
    <div class = "interaction">
        <div class="reset">
            <a href="javascript:void(0)" onclick="reset();return false;">Reset</a>
        </div>
        <div class="showcontext">
            <a href="javascript:void(0)" onclick="showcontext();return false;">Show Context (parent view)</a>
        </div>
    </div>
    <table id="person_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Nationality</th>
                <th>Frequency</th>
            </tr>
        </thead>
    </table>
</div>
<div id="organization_dlg" class="hidden">
    <div id="selectbar" class="selectbar dropdown">Generate the next linked window...
        <select class="selectpicker form-control">
            <option value="">---</option>
            <optgroup label = "other visualizations...">
                <option value="timeline_self">Timeline</option>
                <option value="map_self">Map</option>
                <option value="network_self">Network</option>
                <option value="message_self">Messages</option>
                <option value="event_self">Events</option>
                <option value="person_self">People</option>
                <option value="organization_self">Organizations (shadow)</option>
                <option value="resource_self">Resources</option>
                <option value="location_self">Locations</option>
            </optgroup>
            <optgroup label = "Filter to a subset in ...">
                <option value="organization_subset">Organizations</option>
            </optgroup>
        </select>
    </div>
    <div class = "interaction">
        <div class="reset">
            <a href="javascript:void(0)" onclick="reset();return false;">Reset</a>
        </div>
        <div class="showcontext">
            <a href="javascript:void(0)" onclick="showcontext();return false;">Show Context (parent view)</a>
        </div>
    </div>
    <table id="organization_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Nationality</th>
                <th>Ethnicity</th>
                <th>Religion</th>
                <th>Frequency</th>
            </tr>
        </thead>
    </table>
</div>
<div id="resource_dlg" class="hidden">
    <div id="selectbar" class="selectbar dropdown">Generate the next linked window...
        <select class="selectpicker form-control">
            <option value="">---</option>
            <optgroup label = "other visualizations...">
                <option value="timeline_self">Timeline</option>
                <option value="map_self">Map</option>
                <option value="network_self">Network</option>
                <option value="message_self">Messages</option>
                <option value="event_self">Events</option>
                <option value="person_self">People</option>
                <option value="organization_self">Organizations</option>
                <option value="resource_self">Resources (shadow)</option>
                <option value="location_self">Locations</option>
            </optgroup>
            <optgroup label = "Filter to a subset in ...">
                <option value="resource_subset">Locations</option>
            </optgroup>
        </select>
    </div>
    <div class = "interaction">
        <div class="reset">
            <a href="javascript:void(0)" onclick="reset();return false;">Reset</a>
        </div>
        <div class="showcontext">
            <a href="javascript:void(0)" onclick="showcontext();return false;">Show Context (parent view)</a>
        </div>
    </div>
    <table id="resource_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Condition</th>
                <th>Type</th>
                <th>Frequency</th>
            </tr>
        </thead>
    </table>
</div>
