<div id="map_dlg_{{id}}">
	<div id="map_selectbar_{{ id }}" class="selectbar dropdown">
        <select class="selectpicker form-control" label="Other views...">
            <option value="">Generate the next linked window...</option>
            <optgroup label = "other visualizations...">
                {% for vistype in vistypes %}
                <option value = "{{ vistype }}_self">{{ vistype }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label = "Filter to a subset in ...">
                <option value="map_subset">Map</option>
            </optgroup>
        </select>   
    </div>
    <form class = "interaction">
        <div class="showcontext">
            {% if parent_id %}
            <a href="javascript:void(0)" onclick="showcontext(event);return false;" class = "form-control">Show Context in Link {{parent_id}}</a>
            {% endif %}
        </div>
    </form>
    <div id = "map_cvs_{{id}}" class = "cvs" style = "width: 100%; height: 100%">
    </div>
</div>                

