{% load static %}
{% load compress %}
{% block extralib %}
{% compress js %}
<script type="text/javascript" language="javascript" src="{% static 'dashboard/js/network.js' %}"></script>
{% endcompress %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/network.css' %}">
{% endblock %}

<div id="network" class='nw dlg' style='display: none'>
	<div id="selectbar" class = "selectbar dropdown">Generate the next linked window...
		<select class="form-control">
			<option value="timeline">Timeline</option>
            <option value="network">Network</option>
            <option value="map">Map</option>
            <option value="message">Messages</option>
            <option value="event">Events</option>
            <option value="person">People</option>
		</select>
	</div>
	<div id = "modebar" class = "modebar" display = "inline-block">
		<div class="radio">
	  		<label>
	    		<input type="radio" name="pan" id="pan" value="option1"> <!-- checked -->
	    		Pan and Zoom mode
	  		</label>
		</div>
		<div class="radio">
	  		<label>
	    		<input type="radio" name="brush" id="brush" value="option2">
	    		Brush mode
	  		</label>
		</div>
	</div>
	<div id = "nw_cvs" class="cvs">
	</div>
</div>
