{% load static %}
{% load compress %}
{% block extralib %}
<script type="text/javascript" language="javascript" src="{% static 'dashboard/js/note.js' %}"></script>
{% compress css %}
{% endcompress %}
{% endblock %}
<div id="mynotes_dlg" class="hidden note"> 
    <div display="inline-block";>
        <button class="new_note btn btn-info">New Note</button>
    </div>
    <table id ="mynotes_table">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th>Content</th>
                <th>By</th>
                
            </tr>
        </thead>
    </table>
</div>
<div id="following_dlg" class="hidden">
    <table>
        <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Gender</th>
               <th>Race</th>
               <th>Nationality</th>
               <th>Credit</th>
           </tr>
       </thead>

   </table>
</div>
<div id="followed_dlg" class="hidden">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Nationality</th>
                <th>Credit</th>
            </tr>
        </thead>
    </table>
</div>
<div id="published_dlg" class="hidden">
    <table id="organization_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>PIR</th>
                <th>Content</th>
                <th>Date Created</th>
                <th>Date Updated</th>
            </tr>
        </thead>
    </table>
</div>

