<div id="timeline_dlg_{{id}}" class='timeline visdlg'>
    <form class="form-inline" role="form">
        <div id="timeline_selectbar_{{id}}" class="selectbar form-group">
            <select class="selectpicker form-control" label="Other views...">
                <option value="">Open in linked window...</option>
                <optgroup label="Linked window...">
                    {% for viewtype in viewtypes %}{% if 'timeline' != viewtype %}<option value="{{ viewtype }}_self">{{ viewtype|title }}</option>{% endif %}{% endfor %}
                </optgroup>
                <optgroup label="Filter to subset...">
                    <option value="event_subset">Timeline</option>
                </optgroup>
            </select>   
        </div>
        {% if parent_id %}
        <div class="showcontext form-group">
            <a href="javascript:void(0)" onclick="showcontext(event);return false;" class = "form-control">Show Context in Link {{parent_id}}</a>
        </div>
        {% endif %}
    </form>
    <div id="timeline_cvs_{{id}}" class="cvs"></div>
</div>